/* Default styling */
@font-face {
    font-family: "Intro Fonts";
    src: url("./fonts/fonts_intro/Poppins-Light.ttf");
    font-family: "Menu Fonts";
    src:url("./fonts/menu-font/Montserrat-VariableFont_wght.ttf");
    font-family: "About Fonts";
    src: url("./fonts/about-font/RobotoCondensed-Light.ttf");
    font-family: "Contact and Footer Fonts";
    src: url("./fonts/contact-footer-font/Raleway-VariableFont_wght.ttf");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: black;
}
/* Intro styling */
#intro
{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("./img/antique-cafe-bg-01.jpg");
    font-family: "Intro Fonts", sans-serif;
    padding-bottom: 1rem;
    
}
.navbar
{
    display: flex;
    position: relative;
    width: 100%;
   
}
.nav-links
{
    display: flex;
    list-style: none;
    width: 100%;
    float: right;
    justify-content: space-between;
    position: fixed;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.718);
    height: 12vh;
}
.nav-links li
{
    width: 14%;
}
.nav-links li a
{
    color: #CC9966;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 1rem;
}
.nav-links li a::after
{
    content: " ";
    position: absolute;
    width: 100%;
    background-color: #CC9966;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    opacity: 0;
}
.nav-links li a:hover:after
{
    opacity: 1;
}
.content_io
{
    margin: 10% 0;
}
.text_io
{
    width: 30%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.738);
    margin: 0 auto;
}
.heading_io
{
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    color: white;
    letter-spacing: 0rem;
}   
.par1_io
{
    color: #CC9966;
    text-align: center;
    font-size: 1.2rem;
}
.add_text_io
{
    width: 30%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.738);
    margin: 1rem auto;
}
.par2_io
{
    color: white;
    font-size: 1rem;
}
.par2_io a
{
    color: #22ff00;
}
.par2_io a:hover
{
    color: #fff;
}
.btn
{
    width: 30%;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.827);
    margin: 1rem auto;
    text-align: center;
    color: #9bcc66;
    border-radius: 4rem;
}
.btn a, i
{
    color: #CC9966;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn a:hover
{
    color: white;    
}
/* /Intro styling */
/* Menu Styling */
#menu
{
    background-image: url("./img/antique-cafe-bg-02.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10rem 0;
    font-family: "Menu Fonts", sans-serif;
}
.heading_mu
{
    background-color: #fff;
    padding: 1rem;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: #544639; 
}
.menu
{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
.menu2
{
    background-color: #544639;
    width: 45%;
    padding: 1rem;
    border-radius: .8rem;
}
.menu1
{
    background-color: #544639;
    width: 45%;
    padding: 1rem;
    border-radius: .8rem;
}
.menu1 .menu-row
{
    display: flex;
    margin: 1rem 0;
}
.menu2 .menu-row
{
    display: flex;
    margin: 1rem auto;
    text-align: right;
    justify-content: end;
}
.menu-row img
{
    margin: 0.2rem 1rem;
    border-radius: 0.3rem;
}
.menu-row h3
{
    color: #ffcc66;
    font-weight: normal;

}
.menu-row p
{
    color: #fff;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    
}
.menu-row img
{
    object-fit: cover;
}
.btn_mu2
{
    background-color: #fff;
    width: 10rem;
    text-align: center;
    margin-left: auto;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: .4s ease;
    color: #544639;
}
.btn_mu1
{
    background-color: #fff;
    width: 10rem;
    text-align: end;
    padding: 0.5rem;
    text-align: center;
    border-radius: 3rem;
    transition: .4s ease;
}
.btn_mu1 a, i
{
    color: #544639;
    font-weight: 600;
}
.btn_mu2 a, i
{
    color: #544639;
    font-weight: 600;
}
.btn_mu1:hover, .btn_mu2:hover
{
    background-color: #CC9966;
    color: #fff;
}
.btn_mu1:hover a
{
    color: #fff;
}
.btn_mu1:hover i
{
    color: #fff;
}
.btn_mu2:hover a
{
    color: #fff;
}
.btn_mu2:hover i
{
    color: #fff;
}
/* /Menu Styling */
/* About styling */
#about
{
    background-image: url('./img/antique-cafe-bg-03.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    font-family: "About Font", sans-serif;
    color: #006666;
}
.content
{
    width:  40%;
    height: 75%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.718);
    margin: 1rem;
    border-radius: 1rem;
}
.content h2
{
    font-size: 2.4rem;
    padding: 1rem;
}
.content .par_at
{
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.btn_at
{
    width: 20%;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #006666;
    margin: 0 1rem;
    border-radius: 3rem;
    transition: .4s ease;
}
.btn_at a, i
{
    color: #fff;
    margin-left: 10%;
}
.btn_at:hover
{
    opacity: 0.8;
}
/* /About styling */
/* Contact and Footer Styling */
#contact
{
    background-image: url("./img/antique-cafe-bg-04.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Contact and Footer Fonts", sans-serif;
}
.content_ct
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}
.text-content
{
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.718);
    width: 70%;
    border-radius: 1rem;
}
.form-content
{
    background-color: rgba(0, 0, 0, 0.718);
    padding: 1rem;
    width: 100%;
}
.text-content h3
{
    color: #006666;
    font-size: 2rem;
    padding: 1.3rem 0;
    letter-spacing: 0.2rem;
}
.text-content .par_main_ct
{
    padding: 1rem 0;
    font-size: 1.2rem;
}
.text-content .par_ct
{
    padding: 0.5rem 0;
    font-size: 1.2rem;
}
.text-content .par_ct a
{
    color: #006666;
}
.btn_ct
{
    width: 70%;
    padding: 1rem;
    text-align: center;
    background-color: #006666;
    border-radius: 3rem;
    margin: 1rem 0;    
    transition: .4s ease;
}
.btn_ct:hover
{
    opacity: .8;
}
.btn_ct a
{
    color: #fff;
}
.par_foo
{
    display: flex;
    align-items: end;
    color: #fff;
    margin-top: 5%;
}
.form-content input, textarea
{
    padding: 1rem;
    background-color: transparent;
    border: none;
    margin: 1rem 0;
    width: 100%;
    color: white;
    font-family: "Contact and Footer Fonts", sans-serif;
    transition: .4s ease;
    border-bottom: 1px solid #fff;
}
.form-content input:focus, textarea:focus
{
    outline: none;
}
.form-content ::placeholder
{
    color: #fff;
}
.form-content input:hover, textarea:hover
{
    border: 1px solid yellow;
}
.a_form
{
    display: flex;
    justify-content: end;
    color: #fff;
}
.a_form:hover
{
    color: #CC9966;
}
/* /Contact and Footer Styling */